<!-- ======= Footer ======= -->
<div id="footer" class="text-center">
    <div class="container">
        <div class="socials-media text-center">

            <ul class="list-unstyled">
                <h1>
                    <li><a href="https://www.facebook.com/vibhanshu.jain.5"><i
                                class="ion-social-facebook"></i>&nbsp;</a></li>
                    <li><a href="https://twitter.com/vibhanshujain99"><i class="ion-social-twitter"></i>&nbsp;</a>
                    </li>
                    <li><a href="https://www.instagram.com/vibhanshu_jain_"><i
                                class="ion-social-instagram"></i>&nbsp;</a></li>
                    <li><a href="https://www.linkedin.com/in/vibhanshu-jain-iiitr/"><i
                                class="ion-social-linkedin"></i>&nbsp;</a></li>
                    <li><a href="https://github.com/vibhanshujainiiitr/"><i class="ion-social-github"></i>&nbsp;</a>
                    </li>
                    <li><a href="https://gitlab.com/vibhanshujainiiitr/"><i class="fa fa-gitlab"></i>&nbsp;</a></li>
                </h1>
            </ul>

        </div>

    </div>
</div><!-- End Footer -->